tqdm
loguru
jax[cuda12_pip]
flax
dm-haiku
optax
safetensors
chex
transformers
tokenizers
datasets[jax]
autoflake
yapf
mkdocstrings[crystal,python]
mkdocs-material
rich
orbax-checkpoint
--extra-index-url https://storage.googleapis.com/jax-releases/jax_cuda_releases.html